@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Limelight&display=swap');

.col_1 {width: 8.333333%;}
.col_2 {width: 16.666666%;}
.col_3 {width: 25%;}
.col_4 {width: 33.333333%;}
.col_5 {width: 41.666666%;}
.col_6 {width: 50%;}
.col_7 {width: 58.333333%;}
.col_8 {width: 66.666666%;}
.col_9 {width: 75%;}
.col_10 {width: 83.333333%;}
.col_11 {width:91.666666%;}
.col_12 {width: 100%;}

* {
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: "Limelight", sans-serif;
}
      
body {
    background: linear-gradient(rgb(2, 2, 63), orangered);;
}

.container {
    margin: 0 auto;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}  

h1, h2, p {
    color: #BDB5D5;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 3.2rem;
    text-decoration: underline 5px #F4C542;
}

.h1 {
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-top: 195px;
}

p {
    width: 50%;
    margin: 30px 0 0 240px;
    text-align: center;
    line-height: 1.7rem;
    font-style: oblique;
}

p a {
    color:#F4C542;
}

img {
    width: 680px;
    height: 450px;
    margin-top: 165px;
    border-radius: 15px;
    box-shadow: 3px 3px 2px 1px #000000;
}

.img {
    text-align: center;
}

.imgTeam {
    width: 300px;
    height: 350px;
    margin-left: 145px;
    box-shadow: none;
}

.p {
    text-align: center;
    margin: 0 0 0 155px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    margin: 20px 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}



@media screen and (max-width: 768px){
    .col_1 {width: 100%;}
    .col_2 {width: 100%;}
    .col_3 {width: 100%;}
    .col_4 {width: 100%;}
    .col_5 {width: 100%;}
    .col_6 {width: 100%;}
    .col_7 {width: 100%;}
    .col_8 {width: 100%;}
    .col_9 {width: 100%;}
    .col_10 {width: 100%;}
    .col_11 {width:100%;}
    .col_12 {width: 100%;}

    .container {
        margin: 0 auto;   
    }

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    p, h1 {
        width: 100%;
        margin: 0;
    }

    img, .img {
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }

    h2 {
        margin: 100px 0 50px 0;
    }

}  
